.heading
{
    width: 100%;
    font-size: 23px;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note
{
    color:black;
    font-size: 15px;
}

.copy-right-footer
{
    position:fixed;
    bottom:0;
    background-color:grey;
    color:white;
    width:100%;
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px dashed black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
}

body
{
    background-color: cadetblue;
}